@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
* {
    margin: 0rem;
    padding: 0rem;
    scroll-behavior: smooth;
    
}
:root{
    --main-color: #1A488E;
    --Seond-color:#092147;
    --third-color: #97B2DE;
    --font-family1: 'Luxurious Roman', 'cursive';
    --font-family2: 'Indie Flower', 'cursive';
}
.sectionheader{
    font-size: 34px;
    font-weight: bolder;
    font-family: var(--font-family1);
    text-align: center;
    color: var(--Seond-color);
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    
}
/*====Navbar====*/

.nav__btn{
    margin: 0.5rem;
}
.nav-link{
    margin-left: 0.5rem;
    font-family: var(--font-family2);
    font-size: 20px ;
    font-weight: 500;
    color: var(--third-color) !important;
}
.logo__img{
    background-color: white;
    height: 3rem;
    border-radius: 50rem;
    
}
.logoname{
    font-family: var(--font-family1);
    font-weight: 500;
    font-size: 24px;
    color: white !important;
}
.nav-link:hover{
    color: var(--Seond-color) !important;
}
.logoname:hover{
    color: var(--third-color);
    
}

/**====home page====**/
.home{
    background-color: var(--third-color);
    margin-top: 3.3rem;
    padding-bottom: 3rem;
    
    
}


#myBtn{
    width: 6.6rem;
    background-color: var(--main-color);
    border-radius: 3rem;
    border: none;
    
}
.card{
    height:fit-content;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.tpcard:hover{
    transform:scale(1.02);
    transition: 0.4s;
    
}
.imgtp{
    width: fit-content;
    height: 15rem;
    padding: 0.5rem;
    border-radius: .5rem;
}
.imgtp:hover{
    transform:scale(1.03);
    transition: 0.4s;
}
#sctext{
    width: fit-content;
    height: 10rem;
    overflow: auto;
}

/**Matches**/
.matches{
    padding: 3rem;
    
}
.accordion{ 
    margin-top: 3rem;
    
}

.logoimgsmatches{
    height: 8.5rem;
    
 
}
.logoimgsmatches:hover{
    transform:scale(1.03);
    transition: 0.4s;
}
    
.rw1{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.result{
    font-family: var(--font-family1);
    font-weight: 600;
    font-size: bolder;
}
.acctitle{
    font-family: var(--font-family2);
    font-size: 24px !important;
    text-align: center !important;
    font-weight: bolder !important;
    color: var(--main-color) !important;
    
}
/**====Playes====**/
.players{
    background-color: var(--third-color);
    border-radius: 1rem;
    padding: 3rem;
    
    
}


/**=====Swiper==**/

.swiper {
    width: 240px;
    height: 420px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    
    
    
  }

  .swiper-slide:nth-child(1n) {
    background-color:var(--main-color)
  }

  .swiper-slide:nth-child(2n) {
    background-color: var(--Seond-color)
  }

  .swiper-slide:nth-child(3n) {
    background-color: var(--main-color)
  }

  .swiper-slide:nth-child(4n) {
    background-color: var(--Seond-color)
  }

  .swiper-slide:nth-child(5n) {
    background-color: var(--main-color)
  }

  .swiper-slide:nth-child(6n) {
    background-color: var(--Seond-color)
  }

  .swiper-slide:nth-child(7n) {
    background-color: var(--main-color)
  }

  .swiper-slide:nth-child(8n) {
    background-color: var(--Seond-color)
  }

  .swiper-slide:nth-child(9n) {
    background-color: var(--main-color)
  }
  .swiper-slide:nth-child(10n) {
    background-color:var(--Seond-color)
  }
  .card{
      height: fit-content !important;
      padding: 1rem;
  }
  /**====about====**/
 .about{
    padding: 3rem;
 }
/**====Store=====**/
.store{
    padding: 3rem;
    background-color: var(--third-color);
    border-radius: 1rem;

}
.storekit{
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important; 
    
}
.navtabkit{
    font-family: var(--font-family2);
    font-size: 20px;
    font-weight: bold;
    color: var(--Seond-color) !important;
}
/**contact us**/
.contactus{
    padding: 3rem;
}
.contact__logo{
    width: 20rem;
}
.appimg{
    width: 200px;
    padding: 0.5rem;
    margin-top: 2rem;

}
.appimg:hover{
    transform: scale(1.03);
    transition: 0.3s;
}
.conlogo{
    color: var(--main-color);
    font-size: 30px;
    padding: 2rem;
}
.conlogo:hover{
    transform: scale(1.05);
    transition: 0.3s;
    color: #092147;  
}
/**footer**/
.footer__rights__details{
    margin: 1rem 0;
}
.footer__terms-link{
    margin: 0 .5rem;
    color: var(--Seond-color);
    text-decoration: none;
}
#footer{
    background-color: var(--third-color);
}
.footer__t{
    padding-top: 1rem;
}

/**scrll up**/
.scrolltop{
    position: fixed;
    right: 1rem;
    bottom: 20%;
    display: flex;
    justify-content:center ;
    align-items: center;
    padding: 2rem;
    background: var(--main-color);
    border-radius: 50px;
    z-index: +1;
    transition: 0.4s;
    visibility: hidden;
    width: 1% !important;
    height: 1% !important;
    }
    
    .scrolltop:hover{
    background-color: var(--Seond-color);
    }
    .scrolltop__icon{
      font-size: 20px;
      color: azure;
    }
    
    .show-scroll{
    visibility: visible;
    
    }